{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

    <div>
        <h1>Home consumption on {{ selected_date }}</h1>
        <h2>Total usage on this day: {{ usage_on_date }} kWh</h2>
        <h2>Total payable on this day: £ {{ payable_on_date }}</h2>
        <a
            {% if previous_date %}
                class="btn btn-primary btn-lg"
                href="{% url 'consumption' %}?date={{ previous_date }}"
            {% else %}
                class="btn btn-primary btn-lg disabled"
            {% endif %}
        >
            <-
        </a>
        <a
            {% if next_date %}
                class="btn btn-primary btn-lg"
                href="{% url 'consumption' %}?date={{ next_date }}"
            {% else %}
                class="btn btn-primary btn-lg disabled"
            {% endif %}
        >
            ->
        </a>
    </div>

    <canvas id="chart-payable" width="100%"></canvas>
    <div class="row">
        <div class="col-lg-6">
            <canvas id="chart-consumption" width="100%"></canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="chart-unit-rates" width="100%"></canvas>
        </div>
    </div>

{% endblock content %}

{% block extrascripts %}
    <script id="consumption" data-consumption="{{ consumption_json }}" src="{% static "js/consumption.js" %}"></script>
{% endblock extrascripts %}
