{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

    <div class="mb-4">
        <h1>Home consumption on {{ selected_date }}</h1>
        <h2>Elec usage on this day: {{ elec_usage_on_date }} kWh</h2>
        <h2>Gas usage on this day: {{ gas_usage_on_date }} m3</h2>
        <h2>Total payable on this day: £ {{ payable_on_date }}</h2>
        <a
            {% if previous_date %}
                class="btn btn-primary btn-lg"
                href="{% url 'consumption' %}?date={{ previous_date }}"
            {% else %}
                class="btn btn-primary btn-lg disabled"
            {% endif %}
        >
            <-
        </a>
        <a
            {% if next_date %}
                class="btn btn-primary btn-lg"
                href="{% url 'consumption' %}?date={{ next_date }}"
            {% else %}
                class="btn btn-primary btn-lg disabled"
            {% endif %}
        >
            ->
        </a>
    </div>

    <h3>Electricity</h3>

    <canvas id="chart-elec-payable" width="100%"></canvas>

    <div class="row mb-4">
        <div class="col-lg-6">
            <canvas id="chart-elec-consumption" width="100%"></canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="chart-elec-unit-rates" width="100%"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h3>Gas</h3>
        </div>
        <div class="col-lg-6">
            <h4>Gas unit rate: {{ gas_unit_rate }} p/m3</h4>
            <h4>Gas standing charge: {{ gas_standing_charge }} p/day</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <canvas id="chart-gas-payable" width="100%"></canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="chart-gas-consumption" width="100%"></canvas>
        </div>
    </div>

{% endblock content %}

{% block extrascripts %}
    <script id="consumption"
            data-elec-consumption="{{ elec_consumption_json }}"
            data-gas-consumption="{{ gas_consumption_json }}"
            src="{% static "js/consumption.js" %}"
    ></script>
{% endblock extrascripts %}
