{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}

    <h1>Unit rates for {{ current_date }}</h1>

    <canvas id="chart" width="100%" height="40"></canvas>

    <ul>
        {% for unit_rate in unit_rates_list %}
            <li>
                {% if unit_rate.valid_from < current_time and unit_rate.valid_to > current_time %}
                    <div class="alert alert-danger d-inline-block">
                        Between <strong>{{ unit_rate.valid_from|date:"G:i" }}</strong>
                        and <strong>{{ unit_rate.valid_to|date:"G:i" }}</strong>:
                        {{ unit_rate.value_inc_vat }}p
                    </div>
                {% else %}
                    Between <strong>{{ unit_rate.valid_from|date:"G:i" }}</strong>
                    and <strong>{{ unit_rate.valid_to|date:"G:i" }}</strong>:
                    {{ unit_rate.value_inc_vat }}p
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock content %}

{% block extrascripts %}
    <script id="unit-rates" data-unit-rates="{{ unit_rates_json }}" src="{% static "js/unit_rates.js" %}"></script>
{% endblock extrascripts %}
